<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>datasource</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/connection.css">
</head>
<body>
<ul class="layui-nav">
    <li class="layui-nav-item"><a href="/html/websocket">webSocket</a></li>
    <li class="layui-nav-item layui-this"><a href="/html/connection">数据源</a></li>
    <li class="layui-nav-item"><a href="/html/example">示例代码</a></li>
</ul>
<table id="connection" lay-filter="connection"></table>
<script type="text/html" id="connectionBar">
    <a class="layui-btn layui-btn-xs layui-btn-xs-edit" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-xs-delete" lay-event="del">删除</a>
</script>
<form id="addOrEdit" style="display: none" class="layui-form layui-form-pane" lay-filter="formConnection">
    <div class="layui-form-item" style="display: none">
        <div class="layui-input-block">
            <input id="id" type="hidden" name="id" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">连接名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="请输入连接名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">连接地址</label>
        <div class="layui-input-block">
            <input type="text" name="url" lay-verify="required" placeholder="请输入连接地址, 如: jdbc:oracle:thin:@127.0.0.1:1521/orcl" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="required" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" lay-verify="required" placeholder="请输入密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" id="submitDiv">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="testButton" id="testButton">测试连接</button>
            <button class="layui-btn" lay-submit lay-filter="submitButton" id="submitButton">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="restButton">重置</button>
        </div>
    </div>
</form>
<div id="foot"></div>
<script src="/lib/layui/layui.js"></script>
<script src="/js/common.js"></script>
<script src="/js/connection.js"></script>
</body>
</html>